.pIntro {
  font-size: 20px;
  text-align: center;
}

.projectContainer {
  padding: 0 100px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  overflow-y: auto;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  overflow-y: visible;
  justify-content: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.project {
  background-color: #acacac;
  display: inline-block;
  position: relative;
  width: 300px;
  cursor: pointer;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.555) 0px 0px 5px;
  height: 300px;
  animation: flipIn 800ms ease-in-out normal;
}

@keyframes flipIn {
  0% {
    transform: scale(+0);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 600px) {
  .projects {
    margin: 2cm 0;
  }
  .projectContainer {
    padding: 0;
  }
}
