.main {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  align-items: center;
  grid-template-rows: 89vh 0;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.main::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0%;
  height: 1cm;
  background-color: #d1dae1;
  width: 100vw;
  text-shadow: 0px 0px 10px white;
}
.main div {
  z-index: 1;
}

.blueColored {
  background-color: rgb(81, 81, 230);
  color: white;
  border-radius: 5px;
  margin: 0 5px;
}

.socials a {
  color: rgb(31, 31, 31);
}

.greet {
  font-size: 40px;
  animation: fadeInFromLeft 0.6s ease-in-out normal;
}

.message {
  font-size: 20px;
}

.intro {
  margin: 2px 0;
  animation: fadeInFromLeft 0.6s ease-in-out normal;
}

.identity {
  background-color: lightcoral;
  padding: 3px 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  animation: scaleUp 600ms ease-in-out normal;
}

.identity > span:nth-child(2) {
  background-color: rgb(81, 81, 230);
  padding: 3px;
  margin: 3px;
}

.socials {
  animation: fadeInFromLeft 600ms ease-in-out normal;
}

.profilePhoto {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px blue solid;
  animation: photoAnimation 2s ease-in-out infinite,
    fadeInFromRight 600ms ease-in-out normal;
}

.irregularShape {
  width: 300px;
  display: block;
  position: absolute;
  height: 300px;
  z-index: -1;
}

.irregularShape1 {
  right: 10%;
  top: 20%;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  border-radius: 32% 68% 35% 64% / 36% 24% 76% 34%;
}

.irregularShape2 {
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  border-radius: 62% 38% 70% 30% / 42% 47% 53% 58%;
  top: 50%;
  left: 10%;
}

@keyframes photoAnimation {
  0% {
    border-width: 0px;
    opacity: 1;
    box-shadow: peru 0px 0px 15px;
  }
  50% {
    border-width: 10px;
    border-color: peru;
    box-shadow: rgb(75, 75, 255) 0px 0px 35px;
  }
}

@keyframes popInFromLeft {
  0% {
    transform: translateX(-5000px);
  }
  100% {
    transform: translateX(+0);
  }
}

@keyframes popInFromRight {
  0% {
    transform: translateX(+5000px);
  }
  100% {
    transform: translateX(+0);
  }
}

@keyframes popInFromTop {
  0% {
    transform: translateY(-500px);
    opacity: 0;
  }
  100% {
    transform: translateY(+0);
    opacity: 1;
  }
}

@keyframes fadeInFromLeft {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(+0);
    opacity: 1;
  }
}

@keyframes fadeInFromRight {
  0% {
    transform: translateX(+1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(+0);
    opacity: 1;
  }
}

@keyframes scaleUp {
  0% {
    transform: translateX(-1000px) scale(0.2);
    opacity: 0;
  }
  100% {
    transform: translateX(+0) scale(1);
    opacity: 1;
  }
}

@media only screen and (max-width: 800px) {
  .irregularShape1,
  .irregularShape3 {
    display: none !important;
  }
}
@media only screen and (max-width: 550px) {
  .profilePhoto {
    margin: 1cm 0;
  }
  .main {
    padding: 1cm 0;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
  }
}
